
@{
    Layout = null;
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
    <title>Untitled Document</title>
    <link href="~/Content/css/default.css" rel="stylesheet" />
</head>
<body>
    <div class="wrapper">
        <div class="login">
            <div id="header">
                <div class="logo">
                </div>
                <div style="position:absolute; right:10px; top:40px; font-size:16px; font-weight:bold; color:#00468A">
                    Environmental Health Safety Security
                </div>
                <ul class="userInfo"></ul>
            </div>
            <div id="content">
                @using (Html.BeginForm("DoLogin", "User",FormMethod.Post))
                {
            <table border="0" cellspacing="0" cellpadding="0" class="loginForm">
                <tr>
                    <th scope="row">Login name:</th>
                    <td><input name="LoginName" type="text" style=" width:240px" /></td>
                </tr>
                <tr>
                    <th scope="row">Password:</th>
                    <td><input name="LoginPassword" type="password" style=" width:240px" /></td>
                </tr>
                <tr>
                    <th scope="row">&nbsp;</th>
                    <td>
                        <input type="checkbox" name="checkbox" value="checkbox" />
                        remember me
                    </td>
                </tr>
                <tr>
                    <th scope="row">&nbsp;</th>
                    <td><input name="btnLogin" type="submit" value="Login" class="btnStyle_1" /></td>
                </tr>
            </table>
}
            </div>
            <div id="copyright">
                <img src="~/Content/images/bottom.gif" />
            </div>
        </div>
    </div>
</body>
</html>